@model SpecialProductModel
@using Nop.Plugin.Widgets.SpecialProducts.Models

@{
    var ProductIdd = 0;
    if (Model != null)
        ProductIdd = Model.ProductId;
}
<div class="form-horizontal">
    <nop-cards id="product-cards">
        <nop-card asp-name="product-rental" asp-icon="fa fa-rocket" asp-title="Special Product" asp-hide-block-attribute-name="Special AttributeName" asp-hide="true" asp-advanced="false">
            <div class="card-body">
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="IsSpecialProduct" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="IsSpecialProduct" />
                        <span asp-validation-for="IsSpecialProduct"></span>
                    </div>
                </div>

            </div>

        </nop-card>
    </nop-cards>
</div>


<script>
    $(document).ready(function () {
        $("#IsSpecialProduct").change(function () {
            var IsSpecialProduct = $('#@Html.IdFor(e=>e.IsSpecialProduct)').is(':checked');
            var ProductId = @ProductIdd;
            var json = { productId: ProductId, isSpecialProduct: IsSpecialProduct };
            addAntiForgeryToken(json);

            $.ajax({
                type: "POST",
                url: '@Url.Action("ChangeIsSpecialStatus", "WidgetsSpecialProducts")',
                data: json,
                success: function (data) {

                }
            });
        });

    });
</script>