@model Nop.Plugin.Widgets.SpecialProducts.Models.SpecialProductModel
@{
    Layout = "";
}
@*<div>
    <h4 style="color: darkslategrey; margin: 10px;"> @Model.IsSpecialProduct? "Special Product" : "Not Special Product" </h4>
</div>*@

<div>
    @if (Model !=null && Model.IsSpecialProduct) {
        <h4 style="color: green; margin: -5px 0px 5px 0px; padding: 5px 20px; background-color: lightblue;   display: inline-block;">
            Special Product
        </h4>
    }
    @*else
    {
        <h4 style="color: green; margin: 10px 10px 10px 0px; padding: 5px 20px; background-color: lightblue;   display: inline-block;">
            Not Special Product
        </h4>
    }*@
</div>

